<div class="col-lg-{% if width > 0 %}{{width}}{% else %}12{% endif %} responsive-column">
    <div class="form-box">
        <div class="form-title-wrap">
            <h3 class="title">{{title}}</h3>
        </div>
        <div class="form-content overflow-auto">
            <canvas id="{{chart.id}}" height="400px"></canvas>
            <script>
                new Chart(document.getElementById("{{chart.id}}"), {
                    type: 'line',
                    data: {
                        labels: {{ chart.data.labels | safe }},
                        datasets: [{
                            label: "{{chart.title}}",
                            // backgroundColor: ["#e60049", "#0bb4ff", "#50e991", "#e6d800", "#9b19f5", "#ffa300", "#dc0ab4", "#b3d4ff", "#00bfa0", "#b30000", "#7c1158", "#4421af", "#1a53ff", "#0d88e6", "#00b7c7", "#5ad45a", "#8be04e", "#ebdc78"],
                            borderColor: 'rgb(75, 192, 192)',
                            data: {{ chart.data.values | safe }},
                            fill: false,
                            tension: 0.1
                        }],
                    }, 
                    options: {
                        animations: {
                            tension: {
                                duration: 1000,
                                easing: 'linear',
                                from: 1,
                                to: 0,
                                loop: true
                            }
                        },
                        responsive: true, 
                        maintainAspectRatio: false,
                    },
                });

            </script>
        </div>
    </div>
</div>